In [4]:
import pandas as pd
import os
import numpy as np
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.naive_bayes import MultinomialNB

In [5]:
imdb_reviews = pd.read_csv('Restaurant_Reviews.tsv',sep="\t",header=None)

In [6]:
imdb_reviews.shape

(1001, 2)

In [7]:
imdb_reviews.head()

                                                   0      1
0                                             Review  Liked
1                           Wow... Loved this place.      1
2                                 Crust is not good.      0
3          Not tasty and the texture was just nasty.      0
4  Stopped by during the late May bank holiday of...      1

In [8]:
df = pd.DataFrame()
df = df.append(imdb_reviews)

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
df.head()

                                                   0      1
0                                             Review  Liked
1                           Wow... Loved this place.      1
2                                 Crust is not good.      0
3          Not tasty and the texture was just nasty.      0
4  Stopped by during the late May bank holiday of...      1

In [ ]:
df.shape

(1001, 2)

In [ ]:
df.tail()

                                                      0  1
996   I think food should have flavor and texture an...  0
997                            Appetite instantly gone.  0
998   Overall I was not impressed and would not go b...  0
999   The whole experience was underwhelming, and I ...  0
1000  Then, as if I hadn't wasted enough of my life ...  0

In [ ]:
header = df.iloc[0]
df.columns = header

In [ ]:
df.head()

0                                             Review  Liked
0                                             Review  Liked
1                           Wow... Loved this place.      1
2                                 Crust is not good.      0
3          Not tasty and the texture was just nasty.      0
4  Stopped by during the late May bank holiday of...      1

In [ ]:
df = df.iloc[1:]

In [ ]:
df.head()

0                                             Review Liked
1                           Wow... Loved this place.     1
2                                 Crust is not good.     0
3          Not tasty and the texture was just nasty.     0
4  Stopped by during the late May bank holiday of...     1
5  The selection on the menu was great and so wer...     1

In [ ]:
df.shape

(1000, 2)

In [ ]:
df.tail()

0                                                Review Liked
996   I think food should have flavor and texture an...     0
997                            Appetite instantly gone.     0
998   Overall I was not impressed and would not go b...     0
999   The whole experience was underwhelming, and I ...     0
1000  Then, as if I hadn't wasted enough of my life ...     0

In [ ]:
def textProcessing(df):
    table = str.maketrans('','',string.punctuation)
    for i in range(len(df)):
        df['Review'].iloc[i] = df['Review'].iloc[i].lower().translate(table)
        
        
    documents = []
    # word tokenization
    for i in range(len(df)):
        documents.append(word_tokenize(df['Review'].iloc[i]))
        
        
    englishStopwords = stopwords.words("english")
    words = []
    for tokens in documents:
        word = []
        for i in range(len(tokens)):
            if tokens[i] not in englishStopwords:
                word.append(tokens[i])
        words.append(word)
            
    
    wnet = WordNetLemmatizer()
    for i in range(len(words)):
        for j in range(len(words[i])):
            words[i][j] = wnet.lemmatize(words[i][j],'v')
            
    for i in range(len(words)):
        words[i] = " ".join(words[i])
        
    return words

In [ ]:
words = textProcessing(df)

C:\Users\yadav\AppData\Local\Temp\ipykernel_14824\1398836466.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review'].iloc[i] = df['Review'].iloc[i].lower().translate(table)

In [ ]:
words[:5]

['wow love place',
 'crust good',
 'tasty texture nasty',
 'stop late may bank holiday rick steve recommendation love',
 'selection menu great price']

In [ ]:
len(words)

1000

In [ ]:
tfidf = TfidfVectorizer()

In [ ]:
vector = tfidf.fit_transform(words)

In [ ]:
vector

<1000x1712 sparse matrix of type '<class 'numpy.float64'>'
	with 5551 stored elements in Compressed Sparse Row format>

In [ ]:
vector = vector.toarray()

In [ ]:
vector

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(vector,df['Liked'],test_size = 0.25)

In [ ]:
x_train.shape

(750, 1712)

In [ ]:
x_test.shape

(250, 1712)

In [ ]:
logistic = LogisticRegression()
logistic.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_pred = logistic.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred)

0.784

In [ ]:
nb = MultinomialNB()
nb.fit(x_train,y_train)

MultinomialNB()

In [ ]:
y_pred = nb.predict(x_test)
accuracy_score(y_test,y_pred)

0.812

In [ ]:
cm = confusion_matrix(y_test, y_pred)
print("Confusion matrix:")
print(cm)

Confusion matrix:
[[101  28]
 [ 19 102]]